.header_nav {
    margin-left: 10.4em;
}

.menu {
}

.header_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
}

.header_item {
    margin-right: 28px;
}

    .header_item a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 29px;
    }

    .header_item:last-child {
        margin-right: 295px;
    }

.active-item a {
    color: #353031;
}

.nonactive-item a {
    color: #A0A0A0;
}

.header_link {

}

.sc {
    display: flex;
    margin-bottom: 1px;
}

.btn-request {
    width: 221px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}

.btn-enter {
    margin-left: 21px;
}

.btn-enter-link {

}