<footer class="page-footer font-small indigo ">
    <div class=" text-center text-md-left index-footer">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-3">
                <!-- Links -->
                <ul class="list-unstyled footer-list">
                    <li class="footer-list-1"> <a href="#!">Готовое резюме</a> </li>
                    <li> <a href="#!">Написание сопроводительных писем</a> </li>
                    <li> <a href="#!">Перевод резюме</a> </li>
                </ul>
            </div>
            <div class="col-3">
                <!-- Links -->
                <ul class="list-unstyled footer-list">
                    <li class="footer-list-1"> <a href="#!">О сервисе</a> </li>
                    <li> <a href="#!">Как это работает</a> </li>
                    <li> <a href="#!">Тарифы</a> </li>
                    <li> <a href="#!">Связаться с нами</a> </li>
                </ul>
            </div>
            <!-- Grid column -->


            <div class="col-3 "></div>
            <div class="col-2 ">
                <h5 class="font-weight-bold text-uppercase mt-4 mb-4 footer-logo footer-list-1">
                    <img src="img-blazor/svg/logo-footer.svg" alt="">
                </h5>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
</footer>