################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/_ReSharper.Caches
/src/HRInPocket/UI/WEB/HRInPocket/wwwroot/Logs
