@* ReSharper disable once RedundantUsingDirective *@
@using HRInPocket.BlazorUI.Pages.IndexPartial

@page "/"

<div class="landing-page-wrapper">
    <IndexHeader />
    
    <IndexIntro/>
    
    <HowItWorks/>
    
    <Advantages/>
    
    <TarifsInfo/>
    
    <PricesInfo/>
    
    <PromoGetDreamJob/>
    
    <FAQ/>
    
    <CallbackForm/>

</div>