@* ReSharper disable once RedundantUsingDirective *@
@using HRInPocket.BlazorUI.Pages.IndexPartial

@page "/"

<div class="landing-page-wrapper">
    <div class="landing-content">
        <IndexHeader />

        <IndexIntro />

        <HowItWorks />

        <Advantages />

        <TarifsInfo />

        <PricesInfo />

        <PromoGetDreamJob />

        <FAQ />

        <CallbackForm />
    </div>
</div>
