@page "/SignIn"

    <div class="signin-form">
        <span class="v641_4">Регистрация</span>

        <div class="v641_5"></div>
        <div class="v641_6"></div>
        <div class="v641_7"></div>
        <div class="v641_8"></div>

        <div class="name-input-group">
            <span class="name-input-label">Имя</span>
            <div class="name-input"></div>
        </div>
        <div class="email-input-group">
            <span class="email-input-label">E-mail</span>
            <div class="email-input"></div>
        </div>

        <div class="password-input-group">
            <span class="password-input-label">Пароль (6+ символов: цифры и латинские буквы)</span>
            <div class="password-input"></div>
        </div>

        <div class="privacity-confirmation">
            <span class="privacity-confirmation-check">Я согласен с условиями обработки персональных данных</span>
        </div>
        <span class="v641_21">Через HeadHunter</span><span class="v641_22">Или E-mail</span>
        <div class="v641_23">
            <span class="v641_24">У вас уже есть аккаунт?</span>
            <div class="v641_25">
                <span class="enter-button">Войти</span>
                <div class="v641_27"></div>
            </div>
        </div>
        <div class="v641_28">
            <div class="v641_29">
                <div class="v641_30">
                    <div class="v641_31"></div>
                    <div class="v641_32">
                        <div class="v641_33"></div>
                        <div class="v641_34"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>