@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMakeTask.cshtml";
}

<div class="maketask-page">
    <partial name="Partial/_HeaderMakeTask" />
    <partial name="Partial/_BodyMakeTask" />
</div>