<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <partial name="Partial/_Styles"/>
   
    <title>HR</title>
</head>

<body>
    <div class="wrapper">
        <partial name="Partial/_Header"/>
        @RenderBody()
        <partial name="Partial/_Footer"/>
    </div>
   <partial name="Partial/_Scripts"/>
</body>

</html>
