<div class="landing-page-advantages">
    <span class="landing-page-advantages-header">Преимущества</span>

    <div class="v352_322"></div>
    <div class="v352_323">
        <div class="v352_324"></div>
        <div class="landing-page-advantages-image"></div>
    </div>
    <div class="v352_326">
        <span class="v352_328">Сервис</span>
        <span class="v352_327">
            Разрабатываем продающие резюме с нуля и создаём уникальные сопроводительные письма
        </span>
    </div>
    <div class="v352_336">
        <span class="v352_338">Эффективность методов</span>
        <span class="v352_337">
            Используем в работе технический опыт разработки и профессиональные навыки HR-специалистов
        </span>
    </div>
    <div class="v352_344">
        <span class="v352_346">Выгодные тарифы</span>
        <span class="v352_345">
            Выбирайте оптимальные тарифы и получайте результат уже в первый день
        </span>
    </div>
    <div class="v352_351">
        <span class="v352_353">Экономия времени</span>
        <span class="v352_352">
            Берём на себя весь рутинный процесс поиска и откликов на вакансии. Вы только ходите на собеседования
        </span>
    </div>
</div>