<div class="callback-form">
    <div class="callback-form-background"></div>
    <span class="callback-form-header">Остались вопросы?</span>

    <div class="name-input-group">
        <div class="name-input"></div>
        <span class="name-label">Имя</span>
    </div>

    <div class="email-input-group">
        <div class="email-input"></div>
        <span class="email-input-label">E-mail</span>
    </div>

    <div class="message-input-group">
        <div class="message-input"></div>
        <span class="message-input-label">Сообщение</span>
    </div>
    
    <button class="send-button">
        <span>Отправить</span>
    </button>

    <span class="phone-number">+7 (111) 222-33-44</span>
    <span class="email">support@neojob.ru</span>
    <span class="copyrights">© 2020. Все права защищены</span>
</div>