<div class="faq-panel">
    <span class="faq-panel-header">Часто задаваемые вопросы</span>

    <div class="faq-panel-background"></div>

    <div class="question-cart" style="top: 236px">
        <span class="question">В какие сроки я смогу найти работу?</span>
        <span class="answer">
            Самостоятельный поиск работы в среднем занимает 6 месяцев. Многое зависит
            от специфики вакансий. Алгоритм платформы, позволяет сократить срок трудоустройства до 1 месяца. Бывают сложные/индивидуальные случаи и может потребоваться больше времени
        </span>
        <div class="border"></div>
    </div>

    <div class="question-cart" style="top: 473px">
        <span class="question">Устроят ли меня полученные приглашения?</span>
        <span class="answer">Вы будете получать отклики от работодателей отталкиваясь от составленного задания. При заполнении формы для поиска работы указывайте ключевые слова и теги. Алгоритм учтёт каждый важный критерий для Вас</span>
        <div class="border"></div>
    </div>

    <div class="question-cart" style="top: 675px">
        <span class="question"> Как сервис поймёт, что мне нужно?</span>
        <span class="answer">
            Наш виртуальный HR ничуть не хуже реального и даже превосходит его в точности
            и скорости обработки данных. До начала поиска вы сможете указать все нюансы
            по вакансиям, уровень заработной платы, удалённость от дома и другое
        </span>
        <div class="border"></div>
    </div>

    <div class="question-cart" style="top: 881px">
        <span class="question"> Могу я продвигать несколько резюме одновременно?</span>
        <span class="answer">Можете, создавать дополнительное задание и резюме. Обратите внимание, что для каждого резюме необходимо приобрести отдельный тариф</span>
        <div class="border"></div>
    </div>
</div>