.landing-page-howitworks {
    width: 100%;
    height: 464px;
    background: url("images/v352_359.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 908px;
    left: 80px;
    overflow: hidden;
}

.landing-page-howitworks-header {
    width: 441px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 0;
    left: 420px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v352_360 {
    width: 302px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 324px;
    left: 978px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v352_361 {
    width: 302px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 324px;
    left: 652px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v352_362 {
    width: 302px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 324px;
    left: 326px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v352_363 {
    width: 302px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 324px;
    left: 0;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.v352_364 {
    width: 100%;
    height: 32px;
    background: url("images/v352_364.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 116px;
    left: 0;
    overflow: hidden;
}

.v352_365 {
    width: 303px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 0;
    left: 977px;
    font-family: Montserrat;
    /*font-weight: SemiBold;*/
    font-weight: 600;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v352_366 {
    width: 301px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 0;
    left: 652px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v352_367 {
    width: 302px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 0;
    left: 326px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v352_368 {
    width: 301px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: relative;
    top: 0;
    left: 0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    opacity: 1;
    text-align: left;
}

.v352_369 {
    width: 100%;
    height: 80px;
    background: url("images/v352_369.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 196px;
    left: 0;
    overflow: hidden;
}

.v352_370 {
    width: 100%;
    height: 12px;
    background: #212429;
    background: rgba(33,36,41,1);
    opacity: 1;
    position: absolute;
    top: 34px;
    left: 29px;
}

.v352_371 {
    width: 80px;
    height: 80px;
    background: url("images/v352_371.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 979px;
    overflow: hidden;
}

.v352_372 {
    width: 80px;
    height: 80px;
    background: #212429;
    background: rgba(33,36,41,1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.v352_373 {
    width: 33px;
    color: #fdfdfd;
    color: rgba(253,253,253,1);
    position: absolute;
    top: 7px;
    left: 22px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}

.v352_374 {
    width: 80px;
    height: 80px;
    background: url("images/v352_374.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 652px;
    overflow: hidden;
}

.v352_375 {
    width: 80px;
    height: 80px;
    background: #212429;
    background: rgba(33,36,41,1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.v352_376 {
    width: 28px;
    color: #fdfdfd;
    color: rgba(253,253,253,1);
    position: absolute;
    top: 10px;
    left: 25px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}

.v352_377 {
    width: 80px;
    height: 80px;
    background: url("images/v352_377.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 329px;
    overflow: hidden;
}

.v352_378 {
    width: 80px;
    height: 80px;
    background: #212429;
    background: rgba(33,36,41,1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.v352_379 {
    width: 28px;
    color: #fdfdfd;
    color: rgba(253,253,253,1);
    position: absolute;
    top: 8px;
    left: 25px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}

.v352_380 {
    width: 80px;
    height: 80px;
    background: url("images/v352_380.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.v352_381 {
    width: 80px;
    height: 80px;
    background: #212429;
    background: rgba(33,36,41,1);
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.v352_382 {
    width: 20px;
    color: #fdfdfd;
    color: rgba(253,253,253,1);
    position: absolute;
    top: 10px;
    left: 30px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}