<div class="how-works">
    <p class="maintitle-how-works">Как это работает</p>
    <section id="how-works">
        <div class="row no-gutters rectangles-how-works">
            <div class="col odd">
                <img src="img-blazor/svg/account-rectangle.svg" alt="Создайте аккаунт">
                <br>
                <br>
                <br><span class="title-how-works">Создайте аккаунт</span>
                <br>
                <br><span class="describtion-how-works">Сначала вам надо создать аккаунт на платформе</span>
            </div>
            <div class="col-md-auto even "><img src="img-blazor/svg/Vector1.svg" alt=""></div>
            <div class="col odd">
                <img src="img-blazor/svg/addinfo-rectangle.svg" alt="Добавьте информацию">
                <br>
                <br>
                <br><span class="title-how-works">
                    Добавьте о себе
                    информацию
                </span>
                <br>
                <br><span class="describtion-how-works">Загрузите вашу ссылку на резюме и вставьте сопроводительное письмо на платформу, либо закажите их у нас</span>
            </div>
            <div class="col-md-auto  even"><img src="img-blazor/svg/Vector2.svg" alt=""></div>
            <div class="col odd ">
                <img src="img-blazor/svg/maketask-rectangle.svg" alt="Создайте задание">
                <br>
                <br>
                <br><span class="title-how-works">Разместите задание</span>
                <br>
                <br><span class="describtion-how-works">Заполните оставшиеся поля и разместите задание</span>
            </div>
            <div class="col-md-auto even "><img src="img-blazor/svg/Vector1.svg" alt=""></div>
            <div class="col odd">
                <img src="img-blazor/svg/interview-rectangle.svg" alt="Ходите на интервью">
                <br>
                <br>
                <br><span class="title-how-works">Ходите на интервью</span>
                <br>
                <br><span class="describtion-how-works">После того, как ваше задание будет выполнено, вам останется только ходить на интервью</span>
            </div>
        </div>
    </section>
</div>