<div class="landing-page-howitworks">
    <span class="landing-page-howitworks-header">Как это работает</span>

    <span class="v352_360">Просматривайте полученные отклики от работодателей, записывайтесь на интервью и получайте работу в короткие сроки</span>
    <span class="v352_361">По заданным параметрам алгоритмы платформы подбирают актуальные вакансии и отправляют отклики</span>
    <span class="v352_362">Приобретите подходящую подписку. Загрузите резюме и сопроводительное письмо или закажите у нас на платформе</span>
    <span class="v352_363">Зарегистрируйтесь на платформе. Заполните форму поиска работы, указав важные для вас параметры вакансии</span>
    <div class="v352_364">
        <span class="v352_365">Предложения</span>
        <span class="v352_366">Поиск</span>
        <span class="v352_367">Подписка</span>
        <span class="v352_368">Регистрация</span>
    </div>
    <div class="steps">
        <div class="steps-arrow"></div>
        
        <div class="step-1">
            <div class="ellipse"></div>
            <span class="ellipse-text">1</span>
        </div>
        
        <div class="step-2">
            <div class="ellipse"></div>
            <span class="ellipse-text">2</span>
        </div>

        <div class="step-3">
            <div class="ellipse"></div>
            <span class="ellipse-text">3</span>
        </div>

        <div class="step-4">
            <div class="ellipse"></div>
            <span class="ellipse-text">4</span>
        </div>
    </div>
</div>