.landing-page-header {
    width: 100%;
    height: 100px;
    background: #fdfdfd;
    background: rgba(253,253,253,1);
    padding: 24px 80px;
    opacity: 1;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.landing-header-logo {
    width: 192px;
    color: url("images/v352_402.png");
    position: absolute;
    top: 24px;
    left: 80px;
    font-family: Righteous;
    font-weight: Regular;
    font-size: 42px;
    opacity: 1;
    text-align: left;
}

.landing-header-logo span {
    color: darkorange;
}

    .landing-header-advantages {
        width: 146px;
        color: #212429;
        color: rgba(33,36,41,1);
        position: absolute;
        top: 35px;
        left: 629px;
        font-family: Montserrat;
        font-weight: Medium;
        font-size: 18px;
        opacity: 1;
        text-align: center;
    }

.landing-header-tariff {
    width: 75px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 35px;
    left: 837px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.landing-header-FAQ {
    width: 199px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 35px;
    left: 974px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}

.landing-header-howitworks {
    width: 160px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 35px;
    left: 407px;
    font-family: Montserrat;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: center;
}