<div class="landing-page-intro">
    <div class="landing-page-intro-background"></div>
    <div class="v352_386">
        <div class="v352_387"></div>
        <div class="landing-page-intro-image"></div>
    </div>
    <span class="landing-page-intro-details">
        Инновационный подход
        к поиску работы
    </span>
    <span class="landing-page-intro-about">
        MYJOB - сервис автоматизации поиска работы
        Мы расскажем работодателям о вас
        Вам останется только ходить на интервью
    </span>
    <div class="name"></div>
</div>