<div class="landing-page-header">
    <div class="name"></div>
    <span class="landing-header-logo"><span>my</span>job</span>
    <span class="landing-header-howitworks">Как это работает</span>
    <span class="landing-header-advantages">Преимущества</span>
    <span class="landing-header-tariff">Тарифы</span>
    <span class="landing-header-FAQ">Популярные вопросы</span>
</div>