.price {
    width: 892px;
    height: 498px;
    background: url("../images/v496_50.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3358px;
    left: 274px;
    overflow: hidden;
}

.header {
    width: 844px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: absolute;
    top: 0;
    left: 24px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}