@using HRInPocket.Domain.Entities.Data
@using HRInPocket.Interfaces
@inject HttpClient Http

<div class="price">
    @if (_Prices is null)
    {
        <p>Загрузка цен...</p>
    }
    else
    {
        @foreach (var price in _Prices)
        {
            <PriceInfo Price="price" />
        }
    }
</div>

@code
{
    private IEnumerable<PriceItem> _Prices;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _Prices = await Http.GetFromJsonAsync<IEnumerable<PriceItem>>(WebAPI.Prices);
    }
}
