@using HRInPocket.Domain.Entities.Data
@using HRInPocket.Interfaces
@using HRInPocket.BlazorUI.Pages.IndexPartial
@inject HttpClient Http

<div class="price">
    <span class="header">Дополнительные услуги</span>

    @if (_Prices is null)
    {
        <p>Загрузка...</p>
    }
    else
    {
        foreach (var (price, i) in _Prices.Select((price, i) => (price, i)))
        {
            <PriceInfo Price="price" Top="@(i * 234 + 116)"/>
        }
    }

</div>

@code
{
    private IEnumerable<PriceItem> _Prices;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _Prices = await Http.GetFromJsonAsync<IEnumerable<PriceItem>>(WebAPI.Prices);
    }
}
