.getdreamjob {
    width: 100%;
    height: 300px;
    margin-top: 105px;
    background: #fce55a;
    background: rgba(252, 229, 90, 0.8);
}

.maintitle-getdreamjob {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    /* identical to box height */
    color: #000000;
}

.getdream {
    width: 100%;
    text-align: center;
    margin-top: 72px;
}

.btn-getdream {
    background: #353031;
    border-radius: 10px;
    width: 240px;
    height: 60px;
    margin-top: 45px;
}

.btn-getdream a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}