.promo {
    width: 627px;
    height: 160px;
    /*background: url("images/v352_252.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3976px;
    left: 406px;
    overflow: hidden;
}

.promo-text {
    width: 627px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: relative;
    top: 0;
    left: 0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}