.promo {
    width: 627px;
    height: 160px;
    /*background: url("images/v352_252.png");*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 3976px;
    left: 406px;
    overflow: hidden;
}

.promo-text {
    width: 627px;
    color: #212429;
    color: rgba(33,36,41,1);
    position: relative;
    top: 0;
    left: 0;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 48px;
    opacity: 1;
    text-align: center;
}

.primary-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 62px;
    position: absolute;
    width: 224px;
    height: 56px;
    left: 202px;
    top: 104px;
    /* MJ Colors / Action */
    background: #DD513E;
    border-radius: 16px;
}

    .primary-btn span {
        position: static;
        width: 130px;
        left: calc(50% - 130px/2);
        top: 24.11%;
        bottom: 24.11%;
        /* Desktop / text */
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        /* identical to box height, or 29px */
        display: flex;
        align-items: center;
        text-align: center;
        /* MJ Colors / White */
        color: #FEFEFE;
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
