@using HRInPocket.Domain.Entities.Data
@using HRInPocket.Interfaces
@inject HttpClient Http

<div class="tarifs">
    <span class="header">Тарифы</span>
    <span class="about">В течение выбранного периода система подбирает подходящие под ваши параметры вакансии и рассылает ваше резюме. Вся информация о количестве откликов, приглашениях на собеседования доступна в Личном кабинете</span>

    @if (_Tarifs is null)
    {
        <p>Загрузка данных</p>
    }
    else
    {
        @foreach (var (tarif, i) in _Tarifs.Select((tarif, i) => (tarif, i)))
        {
            <TarifInfo Tarif="tarif" Left="@(i * 340)" />
        }
    }
</div>

@code
{
    private IEnumerable<Tarif> _Tarifs;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _Tarifs = await Http.GetFromJsonAsync<IEnumerable<Tarif>>(WebAPI.Tarifs);
    }
}
