@using HRInPocket.Domain.Entities.Data

<div class="landing-page-tarif-cart">
    <div class="landing-page-tarif-cart-border1"></div>
    <div class="landing-page-tarif-cart-border2"></div>
    <span class="landing-page-tarif-cart-title">ПРЕМИУМ</span>
    <span class="landing-page-tarif-cart-description">
        Максимум предложений
        и карьерный взлёт
    </span>
    <span class="landing-page-tarif-cart-duration">1 месяц</span>
    <span class="landing-page-tarif-cart-price">5 000 руб.</span>
</div>

@code{
    [Parameter] public Tarif Tarif { get; set; }
}
