.landing-page-tarifs {
    width: 100%;
    height: 674px;
    background: url("images/v352_256.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2564px;
    left: 80px;
    overflow: hidden;
}

.landing-page-tarif-cart-premium {
    left: 1020px;
}

.landing-page-tarif-cart-pluse {
    left: 680px;
}

.landing-page-tarif-cart-base {
    left: 0;
}

.landing-page-tarif-cart-standard {
    left: 340px;
}