@model HRInPocket.Domain.Entities.Data.PriceItem

<table class="table table-reflow price-table">
    <tbody>
    <tr>
        <td scope="row" id="first-ch-tb">@Model.Name</td>
        <td id="price-tb">@Model.Price руб.</td>
        <td id="last-td-price">
            <button type="button" class="buy"><a href="">Купить</a></button>
        </td>
    </tr>
    </tbody>
</table>

