<div class="getdreamjob">
    <div class="row no-gutters ">
        <div class=" getdream">
            <p class="maintitle-getdreamjob">Устройся на работу мечты</p>
            <p>
                <button class="btn-getdream"><a asp-controller="Tasks" asp-action="Create">Создать задание</a></button>
            </p>
        </div>
    </div>
</div>