<div class="getdreamjob">
    <div class="row no-guttes ">
        <div class=" getdream">
            <p class="maintitle-getdreamjob">Устройся на работу мечты</p>
            <p>
                <button class="btn-getdream"><a href="#">Создать задание</a></button>
            </p>
        </div>
    </div>
</div>