@model List<HRInPocket.Domain.Entities.Data.PriceItem>

<div class="price">
    @foreach (var item in Model)
    {
        <vc:price-item-card price-item="item"></vc:price-item-card>
    }
    @*<table class="table table-reflow price-table">
        <tbody>
        <tr>
            <td scope="row" id="first-ch-tb">Составление резюме</td>
            <td id="price-tb">2000 руб.</td>
            <td id="last-td-price">
                <button type="button" class="buy"><a href="">Купить</a></button>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-reflow price-table">
        <tbody>
        <tr>
            <td scope="row" id="first-ch-tb">Написание сопроводительного письма</td>
            <td id="price-tb">800 руб.</td>
            <td id="last-td-price">
                <button type="button" class="buy"><a href="">Купить</a></button>
            </td>
        </tr>
        </tbody>
    </table>

    <table class="table table-reflow price-table">
        <tbody>
            <tr>
                <td scope="row" id="first-ch-tb">Перевод резюме</td>
                <td id="price-tb">1500 руб.</td>
                <td id="last-td-price">
                    <button type="button" class="buy"><a href="">Купить</a></button>
                </td>
            </tr>
        </tbody>
    </table>*@

</div>