@model List<HRInPocket.DAL.Models.Entities.Tarif>

<div class="tarifs">
    <p class="maintitle-tarifs">Тарифы</p>
    <section id="tarifs">
        <div class="row no-gutters tarifs-block">
            @foreach (var item in Model)
            {
                <vc:tarif-card tarif="item"></vc:tarif-card>
            }
        </div>
    </section>
</div>
