@model HRInPocket.DAL.Models.Entities.Tarif

<div class="col tarifs-block-each tarifs-w ">
    <p class="title-tarifs">@Model.Name</p>
    <p class="desc-tarifs">@Model.Description</p>
    <p class="numb-visits">@Model.Visits приглашений</p>
    <p class="price-tarifs">@Model.Price руб.</p>
    <button type="button" class="buy"><a href="#">Купить</a></button>
</div>
