<div class="header-maketask">
    <ul>
        <li><img src="~/img/svg/Logo%201.svg" alt="HR"></li>
        <li>
            <a href="">
                <img src="~/img/svg/left-vector.svg" alt="">
                Продолжить позднее
            </a>
        </li>
    </ul>
</div>