<div class="callback">
    <p class="maintitle-callback">Связаться с нами</p>
    <form class="make-callback">
        <div class="form-row no-gutters make-callback-form form_control-cb1">
            <input type="text" class="form-group " placeholder="Имя">
        </div>
        <div class="form-row no-gutters make-callback-form form_control-cb2 ">
            <input type="text" class="form-group  " placeholder="Адрес электронной почты">
        </div>
        <div class="form-row no-gutters make-callback-form form_control-cb2">
            <input type="text" class="form-group  " placeholder="Номер телефона">
        </div>
        <div class="form-row no-gutters make-callback-form form_control-cb4">
            <input type="text" class="form-group  " placeholder="Сообщение">
        </div>
        <button type="button" class="send-callback"><a href="#">Создать задание</a></button>
    </form>
</div>