<div class="executor">
    <div class="media">
        <div class="media-body">
            <div class="media-text">
                <h5 class="mt-0 mb-1 title">Устройся на работу мечты</h5> <span class="color-text">HR в кармане</span> - это веб-платформа, которая позволяет соискателю создавать задания на поиск работы с оплатой за приглашения. Вам останется лишь ходить на интервью.
            </div>
        </div> <img class="d-flex ml-0 main-photo" src="~/img/svg/photoplashka.svg" alt="img">
    </div>
    <form class="make-task">
        <div class="row no-gutters make-task-form">
            <input type="text" class="form_control  form_control-1" placeholder="Желаемая специальность">
            <input type="text" class="form_control form_control-2" placeholder="Ссылка на резюме">
        </div>
        <button type="button" class="send"><a href="#">Создать задание</a></button>
    </form>
    <div class="how-works">
        <p class="maintitle-how-works">Как это работает</p>
        <section id="how-works">
            <div class="row no-gutters rectangles-how-works">
                <div class="col odd">
                    <img src="~/img/svg/account-rectangle.svg" alt="Создайте аккаунт">
                    <br>
                    <br>
                    <br><span class="title-how-works">Создайте аккаунт</span>
                    <br>
                    <br><span class="describtion-how-works">Сначала вам надо создать аккаунт на платформе</span>
                </div>
                <div class="col-md-auto even "><img src="~/img/svg/Vector%201.svg" alt=""></div>
                <div class="col odd">
                    <img src="~/img/svg/addinfo-rectangle.svg" alt="Добавьте информацию">
                    <br>
                    <br>
                    <br><span class="title-how-works">
                        Добавьте о себе
                        информацию
                    </span>
                    <br>
                    <br><span class="describtion-how-works">Загрузите вашу ссылку на резюме и вставьте сопроводительное письмо на платформу, либо закажите их у нас</span>
                </div>
                <div class="col-md-auto  even"><img src="~/img/svg/Vector%202.svg" alt=""></div>
                <div class="col odd ">
                    <img src="~/img/svg/maketask-rectangle.svg" alt="Создайте задание">
                    <br>
                    <br>
                    <br><span class="title-how-works">Разместите задание</span>
                    <br>
                    <br><span class="describtion-how-works">Заполните оставшиеся поля и разместите задание</span>
                </div>
                <div class="col-md-auto even "><img src="~/img/svg/Vector%201.svg" alt=""></div>
                <div class="col odd">
                    <img src="~/img/svg/interview-rectangle.svg" alt="Ходите на интервью">
                    <br>
                    <br>
                    <br><span class="title-how-works">Ходите на интервью</span>
                    <br>
                    <br><span class="describtion-how-works">После того, как ваше задание будет выполнено, вам останется только ходить на интервью</span>
                </div>
            </div>
        </section>
    </div>
    
    <partial name="Partial/_Tarifs" />
    <partial name="Partial/_Price" />
    <partial name="Partial/_Callback" />
   
    <div class="getdreamjob">
        <div class="row no-guttes ">
            <div class=" getdream">
                <p class="maintitle-getdreamjob">Устройся на работу мечты</p>
                <p>
                    <button class="btn-getdream"><a href="#">Создать задание</a></button>
                </p>
            </div>
        </div>
    </div>
</div>