<nav class="header_nav">
    <ul class=" menu header_list ">
        <li class="header_item active-item"> <a href="#" class="header_link ">Соискателям</a> </li>
        <li class="header_item nonactive-item "> <a href="#" class="header_link">Исполнителям</a> </li>
    </ul>
</nav>
<nav>
    <ul class=" menu sc">
        <li class="btn-request">
            <a href="#" class="btn-enter-link"><img src="~/img/svg/Button.svg" alt="Оставить заявку"></a>
        </li>
        <li class="btn-enter">
            <a href="#" class="btn-enter-link"><img src="~/img/svg/Button%20(1).svg" alt="Войти"></a>
        </li>
    </ul>
</nav>