@using HRInPocket.Extensions
@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.GetEmailOrName(); //Context.User?.GetDisplayName();
    }
}

<nav class="header_nav">
    <ul class=" menu header_list ">
        <li class="header_item active-item"> <a href="#" class="header_link ">Соискателям</a> </li>
        <li class="header_item nonactive-item "> <a href="#" class="header_link">Исполнителям</a> </li>
    </ul>
</nav>
<nav>
    <ul class="menu sc">
        @if (User.Identity?.IsAuthenticated != true)
        {
            <li class="btn-request">
                <a asp-controller="Account" asp-action="Register" accesskey="" class="btn-enter-link"><img src="~/img/svg/Button.svg" alt="Регистрация"></a>
            </li>
            <li class="btn-enter">
                <a asp-controller="Account" asp-action="Login" class="btn-enter-link"><img src="~/img/svg/Button%20(1).svg" alt="Войти"></a>
            </li>
        }
        else
        {
            <li class="btn-request">
                <a asp-controller="Account" asp-action="Profile" accesskey="" class="btn-enter-link">
                    @name
                </a>
            </li>
            <li class="btn-enter">
                <a asp-controller="Account" asp-action="Logout" class="btn-enter-link">Выход</a>
            </li>
        }
    </ul>
</nav>